/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.gradle/
ExportedObj/
.consulo/
*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

*.rsp

/[Aa]ssets/AssetStoreTools*

/Assets/Screenshots/
/Screenshots/
